In [1]:
import pandas as pd
import numpy as np
import csv

# 1. Merge records

In [14]:
props = {}
with open("property_to_correct.csv", 'r') as fin:
    lines = fin.readlines()
    for line in lines:
        props[line.rstrip()]=0

In [15]:
len(props.keys())

221

In [18]:
cnt=0
with open("tmp/property_to_correct_149_211.txt", 'r') as fin:
    lines = fin.readlines()
    for line in lines:
        if ',' in line:
            p = line.split(',')[0].rstrip()
            if len(line.split(','))<2:
                y = np.nan
            else:
                try:
                    y = int(line.split(',')[1])
                except ValueError:
                    print(line)
                    y = np.nan
            if p in props.keys():
                props[p]=y
                cnt+=1
print(cnt)

flanders square,

1208 upper boon keng road,

punggol central,

geylang road,

clarke quay,

cairnhill road,

chancery lane,

horne road,

river valley close,

harbourfront place,

upper changi road north,

hume avenue,

parkway apartment,

almond avenue,

dublin road,

jalan lapang,

72

In [19]:
props

{'infini at east coast': 0,
 'sengkang grand residences': 0,
 'tampines street 11': 0,
 'van holland': 0,
 'one-north eden': 0,
 'provence residence': 0,
 'affinity at serangoon': 0,
 'sims avenue': 0,
 'bartley vue': 0,
 'the avenir': 0,
 'boulevard 88': 0,
 'mori': 0,
 'lorong 34 geylang': 0,
 'residence twenty-two': 0,
 '39 flower road': 0,
 'riverfront residences': 0,
 'peak residence': 0,
 '35 gilstead': 0,
 'holland grove road': 0,
 'brookvale drive': 0,
 'parc central residences': 0,
 'perfect ten': 0,
 'parc greenwich': 0,
 'wilshire residences': 0,
 'the arden': 0,
 'fernvale link': 0,
 'shunfu road': 0,
 'jadescape': 0,
 'fernvale road': 0,
 'the tre ver': 0,
 'phoenix residences': 0,
 'the antares': 0,
 'beach road': 0,
 'hougang avenue 7': 0,
 'jalan lempeng': 0,
 'ikigai': 0,
 'pasir ris heights': 0,
 'yishun close': 0,
 'the commodore': 0,
 'river valley road': 0,
 'upper boon keng road': 0,
 '77 @ east coast': 0,
 'lattice one': 0,
 'jalan kemaman': 0,
 'canberra walk': 0,
 'haus on handy': 0,
 '19 nassim': 0,
 'phoenix road': 0,
 'shenton way': 0,
 'harbour view gardens': 0,
 'rv altitude': 0,
 'phoenix garden': 0,
 'yong siak street': 0,
 'westwood avenue': 0,
 'balestier road': 0,
 'choa chu kang avenue 4': 0,
 'cairnhill 16': 0,
 'm suites': 0,
 'yishun ring road': 0,
 'jalan molek': 0,
 'west coast crescent': 0,
 'amber sea': 0,
 'serangoon north avenue 1': 0,
 'rochester drive': 0,
 'upper changi road east': 0,
 'punggol field': 0,
 'tampines street 45': 0,
 'royal hallmark': 0,
 'serangoon central drive': 0,
 'hillside drive': 0,
 'hougang central': 0,
 'the linq @ beauty world': 0,
 'belgravia drive': 0,
 'arthur road': 0,
 'lorong 6 toa payoh': 0,
 'parc esta': 0,
 'eu tong sen street': 0,
 'guillemard road': 0,
 'canberra street': 0,
 'laurel tree': 0,
 'balmoral park': 0,
 'chestnut crescent': 0,
 'swiss view': 0,
 'dunearn 386': 0,
 'edgedale plains': 0,
 'lew lian vale': 0,
 'piermont grand': 0,
 'slim barracks rise': 0,
 'olloi': 0,
 'phoenix avenue': 0,
 'tanah merah kechil ridge': 0,
 'mount sophia': 0,
 'dalvey estate': 0,
 'sumang walk': 0,
 'broadrick road': 0,
 'liv @ mb': 0,
 'victoria street': 0,
 'fraser street': 0,
 'simon lane': 0,
 'punggol walk': 0,
 'jalan bunga rampai': 0,
 'highgate crescent': 0,
 'marne road': 0,
 'how sun road': 0,
 'hindhede drive': 0,
 'fifth avenue': 0,
 'jalan remaja': 0,
 'lorong 40 geylang': 0,
 'toh tuck road': 0,
 'marine drive': 0,
 'changi road': 0,
 'jalan rendang': 0,
 'lewis road': 0,
 'noma': 0,
 'punggol drive': 0,
 'les maisons nassim': 0,
 'tanjong katong road': 0,
 'cashew road': 0,
 'jervois road': 0,
 'perumal road': 0,
 'pasir ris central street 3': 0,
 'makeway avenue': 0,
 'bencoolen house': 0,
 'rezi 24': 0,
 'yishun avenue 1': 0,
 'bukit timah road': 0,
 'jurong west central 3': 0,
 'prince charles crescent': 0,
 'margate road': 0,
 'foo kim lin road': 0,
 "saint patrick's road": 0,
 'lorong h telok kurau': 0,
 'draycott park': 0,
 'buangkok crescent': 0,
 'ang mo kio avenue 2': 0,
 'toh tuck drive': 0,
 'king albert park': 0,
 'scotts road': 0,
 'compassvale bow': 0,
 'dundee road': 0,
 'upper bukit timah road': 0,
 'loyang view': 0,
 'simei street 1': 0,
 'draycott drive': 0,
 'tanglin hill': 0,
 'fernvale lane': 0,
 'sin ming avenue': 0,
 'jalan suka': 0,
 'lorong marzuki': 1984,
 'mount echo park': 1987,
 'richards avenue': 1976,
 'flanders square': nan,
 'leedon heights': 1984,
 'amber gardens': 1986,
 'opal crescent': 2012,
 'balmoral road': 2014,
 'thomson road': 1964,
 'jalan intan': 2002,
 'sophia road': 2001,
 '1208 upper boon keng road': nan,
 'ps100': 2015,
 'north gaia': 2029,
 'sing joo walk': 1955,
 'carpmael thirty-eight': 2020,
 'hougang avenue 3': 1983,
 'eng hoon street': 1937,
 'punggol central': nan,
 'geylang road': nan,
 'joo chiat place': 1954,
 'clarke quay': nan,
 'compassvale road': 1998,
 'farrer road': 1973,
 'hougang avenue 2': 1985,
 'anchorvale link': 2000,
 'moulmein rise': 2003,
 'cairnhill road': nan,
 'rivervale drive': 1998,
 'lorong k telok kurau': 1988,
 'macpherson road': 1968,
 'lorong 1a toa payoh': 2012,
 'oxley road': 1973,
 'sycamore tree': 2016,
 'chancery lane': nan,
 'horne road': nan,
 'river valley close': nan,
 'harbourfront place': nan,
 'how sun close': 1975,
 'upper changi road north': nan,
 'hume avenue': nan,
 'jalan layang layang': 1992,
 'toa payoh north': 1973,
 'east coast road': 2002,
 'the rochester': 2011,
 'arena residences': 2022,
 'lorong l telok kurau': 1995,
 'fernvale close': 2018,
 'west coast walk': 1991,
 'parkway apartment': nan,
 'almond avenue': nan,
 'lloyd road': 2016,
 'toh tuck place': 1984,
 'dyson road': 1996,
 'chwee chian view': 1991,
 'trevose crescent': 2001,
 'tan quee lan street': 2005,
 'woodlands drive 16': 0,
 'joo chiat road': 1985,
 'alexandra road': 1938,
 'woodgrove avenue': 1998,
 'dublin road': nan,
 'seraya lane': 2009,
 'yishun central': 1987,
 'stirling road': 1970,
 'ellington square': 1965,
 'gerald drive': 1989,
 'jalan lapang': nan,
 'telok kurau road': 1994,
 'dairy farm heights': 1989,
 'neu at novena': 2023,
 'cuscaden reserve': 2022,
 'parc clematis': 2023}

In [22]:
cnt=0
with open("tmp/property_to_correct_76_148.txt", 'r') as fin:
    lines = fin.readlines()
    for line in lines:
        line = line.replace("\"", "")
        print(line)
        if ',' in line:
            p = line.split(',')[0].rstrip()
            if len(line.split(','))<2:
                y = np.nan
            else:
                try:
                    y = int(line.split(',')[1])
                except ValueError:
                    print(line)
                    y = np.nan
            if p in props.keys():
                props[p]=y
                cnt+=1
print(cnt)

tanjong katong road,1965

perfect ten,2025

jervois treasures,2022

upper bukit timah road,1845

one draycott,2022

rezi 24,2022

trevose crescent,2001

almond avenue,1998

parkwood residences,2026

phoenix avenue,2024

uptown @ farrer,2021

the avenir,2028

bukit timah road,1845

77 @ east coast,2022

the rochester,2011

the linq @ beauty world,2025

10 evelyn,2022

royal hallmark,2025

shenton way,2011

jalan lempeng

19 nassim,2023

irwell hill residences,2026

king albert park,2017

jalan bunga rampai

draycott drive,2002

fourth avenue residences,1986

ps100,2015

treasure at tampines,2023

makeway avenue

swiss view,1994

lorong k telok kurau

normanton park,1977

westwood avenue,2002

marine drive,1975

the draycott,1980

cairnhill road

yishun ring road,1988

pasir ris central street 3

compassvale road,1998

the tre ver,2022

margate road

mount sophia,2007

whistler grand,2022

slim barracks rise

jalan besar,1932

sing joo walk,1955

west coast walk,2010

thomson road,1964

lorong l telok kurau,2014

kopar at newton,2023

wilshire residences,2024

sky everton,2023

sin ming avenue

choa chu kang avenue 4

changi road,1983

jalan kemaman,1993

tiong bahru estate,1930

seraya lane,2009

eng hoon street,1937

arena residences,2022

fifth avenue,1998

lorong 40 geylang

olloi,2022

balmoral road

holland grove road

dyson road

ola,2023

toh tuck place,1977

jalan remaja,1990

harbourfront place,2002

affinity at serangoon,2024

the arden,2025

the hyde,2022
42

# 2. Write manually found built_year back to csv

In [2]:
props = {'infini at east coast': 2022, 'sengkang grand residences': 2023, 'tampines street 11': 1982, 'van holland': 2023, 'one-north eden': 2025, 'provence residence': 2026, 'affinity at serangoon': 2024, 'sims avenue': 1985, 'bartley vue': 2026, 'the avenir': 2023, 'boulevard 88': 2023, 'mori': 2026, 'lorong 34 geylang': 2001, 'residence twenty-two': 2021, '39 flower road': 1998, 'riverfront residences': 2024, 'peak residence': 2025, '35 gilstead': 2022, 'holland grove road': 1997, 'brookvale drive': 2024, 'parc central residences': 2023, 'perfect ten': 2026, 'parc greenwich': 2026, 'wilshire residences': 2024, 'the arden': 2025, 'fernvale link': 2015, 'shunfu road': 1985, 'jadescape': 2023, 'fernvale road': 2013, 'the tre ver': 2022, 'phoenix residences': 2024, 'the antares': 2022, 'beach road': np.nan, 'hougang avenue 7': 2000, 'jalan lempeng': np.nan, 'ikigai': 2025, 'pasir ris heights': 2017, 'yishun close': 2018, 'the commodore': 2024, 'river valley road': 1995, 'upper boon keng road': np.nan, '77 @ east coast': 2022, 'lattice one': 2022, 'jalan kemaman': 1993, 'canberra walk': 2023, 'haus on handy': 2023, '19 nassim': 2023, 'phoenix road': 2016, 'shenton way': 2011, 'harbour view gardens': 2021, 'rv altitude': 2022, 'phoenix garden': np.nan, 'yong siak street': 1973, 'westwood avenue': 2002, 'balestier road': 1995, 'choa chu kang avenue 4': 2019, 'cairnhill 16': 2023, 'm suites': 2024, 'yishun ring road': 1988, 'jalan molek': 2026, 'west coast crescent': 2005, 'amber sea': 2027, 'serangoon north avenue 1': 2024, 'rochester drive': 2011, 'upper changi road east': 1999, 'punggol field': 2016, 'tampines street 45': 1995, 'royal hallmark': 2025, 'serangoon central drive': 1987, 'hillside drive': 2001, 'hougang central': 2005, 'the linq @ beauty world': 2025, 'belgravia drive': 2024, 'arthur road': 2006, 'lorong 6 toa payoh': 2020, 'parc esta': 2022, 'eu tong sen street': 2007, 'guillemard road': 1994, 'canberra street': 2019, 'laurel tree': 2016, 'balmoral park': 1983, 'chestnut crescent': 1998, 'swiss view': 1994, 'dunearn 386': 2025, 'edgedale plains': 2017, 'lew lian vale': 2017, 'piermont grand': 2022, 'slim barracks rise': 2009, 'olloi': 2022, 'phoenix avenue': 2024, 'tanah merah kechil ridge': 2000, 'mount sophia': 2007, 'dalvey estate': 2005, 'sumang walk': 2023, 'broadrick road': 2014, 'liv @ mb': 2024, 'victoria street': np.nan, 'fraser street': 2017, 'simon lane': 2015, 'punggol walk': 2015, 'jalan bunga rampai': 2025, 'highgate crescent': 1995, 'marne road': np.nan, 'how sun road': 2021, 'hindhede drive': 2000, 'fifth avenue': 1998, 'jalan remaja': 1990, 'lorong 40 geylang': 1998, 'toh tuck road': 1995, 'marine drive': 1975, 'changi road': 1983, 'jalan rendang': 1984, 'lewis road': 2011, 'noma': 2024, 'punggol drive': 2013, 'les maisons nassim': 2023, 'tanjong katong road': 1965, 'cashew road': 1992, 'jervois road': np.nan, 'perumal road': 2021, 'pasir ris central street 3': 2021, 'makeway avenue': 2011, 'bencoolen house': 1998, 'rezi 24': 2022, 'yishun avenue 1': 2013, 'bukit timah road': np.nan, 'jurong west central 3': np.nan, 'prince charles crescent': 2017, 'margate road': 2009, 'foo kim lin road': 2016, "saint patrick's road": 2013, 'lorong h telok kurau': 1991, 'draycott park': np.nan, 'buangkok crescent': 2012, 'ang mo kio avenue 2': 2017, 'toh tuck drive': 1995, 'king albert park': 2017, 'scotts road': 2011, 'compassvale bow': 2013, 'dundee road': 2020, 'upper bukit timah road': np.nan, 'loyang view': 1996, 'simei street 1': 1996, 'draycott drive': 2002, 'tanglin hill': 1982, 'fernvale lane': 2016, 'sin ming avenue': 1996, 'jalan suka': 2024, 'lorong marzuki': 1984, 'mount echo park': 1987, 'richards avenue': 1976, 'flanders square': np.nan, 'leedon heights': 1984, 'amber gardens': 1986, 'opal crescent': 2012, 'balmoral road': 2014, 'thomson road': 1964, 'jalan intan': 2002, 'sophia road': 2001, '1208 upper boon keng road': np.nan, 'ps100': 2015, 'north gaia': 2029, 'sing joo walk': 1955, 'carpmael thirty-eight': 2020, 'hougang avenue 3': 1983, 'eng hoon street': 1937, 'punggol central': np.nan, 'geylang road': np.nan, 'joo chiat place': 1954, 'clarke quay': np.nan, 'compassvale road': 1998, 'farrer road': 1973, 'hougang avenue 2': 1985, 'anchorvale link': 2000, 'moulmein rise': 2003, 'cairnhill road': np.nan, 'rivervale drive': 1998, 'lorong k telok kurau': 1988, 'macpherson road': 1968, 'lorong 1a toa payoh': 2012, 'oxley road': 1973, 'sycamore tree': 2016, 'chancery lane': np.nan, 'horne road': np.nan, 'river valley close': np.nan, 'harbourfront place': 2002, 'how sun close': 1975, 'upper changi road north': np.nan, 'hume avenue': np.nan, 'jalan layang layang': 1992, 'toa payoh north': 1973, 'east coast road': 2002, 'the rochester': 2011, 'arena residences': 2022, 'lorong l telok kurau': 2014, 'fernvale close': 2018, 'west coast walk': 2010, 'parkway apartment': np.nan, 'almond avenue': 1998, 'lloyd road': 2016, 'toh tuck place': 1977, 'dyson road': 1996, 'chwee chian view': 1991, 'trevose crescent': 2001, 'tan quee lan street': 2005, 'woodlands drive 16': 2016, 'joo chiat road': 1985, 'alexandra road': 1938, 'woodgrove avenue': 1998, 'dublin road': np.nan, 'seraya lane': 2009, 'yishun central': 1987, 'stirling road': 1970, 'ellington square': 1965, 'gerald drive': 1989, 'jalan lapang': np.nan, 'telok kurau road': 1994, 'dairy farm heights': 1989, 'neu at novena': 2023, 'cuscaden reserve': 2022, 'parc clematis': 2023}

In [3]:
count=0
for i in props.keys():
    if props[i] is np.nan:
        count+=1
print(count)

25

In [4]:
df_zj_feb27= pd.read_csv("dataset/train_ziji_feb27.csv")

In [5]:
def check_missing_values(df):
    print("Stats for missing values:")
    print("-"*15)
    for col in df:
        print(f"{col}: ", df[col].isna().sum())

In [9]:
df_zj_feb27.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25722 entries, 0 to 25721
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     25722 non-null  int64
 1   listing_id     25722 non-null  int64
 2   name           25722 non-null  object
 3   street         25722 non-null  object
 4   type           25722 non-null  object
 5   model          24445 non-null  object
 6   bedrooms       25325 non-null  object
 7   bathrooms      24488 non-null  float64
 8   district       25722 non-null  int64
 9   region         25722 non-null  object
 10  planning_area  25722 non-null  object
 11  subszone       25722 non-null  object
 12  lat            25722 non-null  float64
 13  lng            25722 non-null  float64
 14  tenure         25437 non-null  object
 15  built_year     25649 non-null  float64
 16  no_of_units    24684 non-null  float64
 17  area_size      25722 non-null  float64
 18  date_listed    25722 non-null  object
 19  price          25722 non-null  float64
dtypes: float64(7), int64(3), object(10)
memory usage: 3.9+ MB

In [15]:
check_missing_values(df_zj_feb27)

Stats for missing values:
---------------
listing_id:  0
name:  0
street:  0
type:  0
model:  1277
bedrooms:  397
bathrooms:  1234
district:  0
region:  0
planning_area:  0
subszone:  0
lat:  0
lng:  0
tenure:  285
built_year:  73
no_of_units:  1038
area_size:  0
date_listed:  0
price:  0

In [16]:
for k in props.keys():
    df_zj_feb27.at[df_zj_feb27.name==k, 'built_year'] = props[k]

/Users/shiziji/miniconda/envs/CS5228/lib/python3.6/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [17]:
check_missing_values(df_zj_feb27)

Stats for missing values:
---------------
listing_id:  0
name:  0
street:  0
type:  0
model:  1277
bedrooms:  397
bathrooms:  1234
district:  0
region:  0
planning_area:  0
subszone:  0
lat:  0
lng:  0
tenure:  285
built_year:  73
no_of_units:  1038
area_size:  0
date_listed:  0
price:  0

In [18]:
df_zj_feb27 = df_zj_feb27.loc[:, ~df_zj_feb27.columns.str.contains('^Unnamed')]

In [19]:
df_zj_feb27.to_csv("dataset/train_ziji_mar26.csv", index=False)

# 3. Merge into RH's csv

In [20]:
df_rh = pd.read_csv("dataset/ronghua.csv")

In [21]:
check_missing_values(df_rh)

Stats for missing values:
---------------
index:  0
listing_id:  0
name:  0
street:  0
type:  0
bedrooms:  396
bathrooms:  1234
district:  0
region:  0
planning_area:  0
subszone:  0
lat:  0
lng:  0
tenure:  285
built_year:  9927
no_of_units:  1038
area_size:  2
date_listed:  0
price:  0
bedrooms_1:  0
time_period:  0
tenure_change:  0

In [22]:
for k in props.keys():
    df_rh.at[df_rh.name==k, 'built_year'] = props[k]

In [23]:
check_missing_values(df_rh)

Stats for missing values:
---------------
index:  0
listing_id:  0
name:  0
street:  0
type:  0
bedrooms:  396
bathrooms:  1234
district:  0
region:  0
planning_area:  0
subszone:  0
lat:  0
lng:  0
tenure:  285
built_year:  7127
no_of_units:  1038
area_size:  2
date_listed:  0
price:  0
bedrooms_1:  0
time_period:  0
tenure_change:  0

> number of nan built year does not match with df_ziji_feb27

# 4. Verify dataset

In [24]:
df_rh = pd.read_csv("dataset/ronghua_mar_26.csv")

In [25]:
df_rh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25718 entries, 0 to 25717
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          25718 non-null  int64
 1   listing_id     25718 non-null  int64
 2   name           25718 non-null  object
 3   street         25718 non-null  object
 4   type           25718 non-null  object
 5   bedrooms       25322 non-null  object
 6   bathrooms      24484 non-null  float64
 7   district       25718 non-null  int64
 8   region         25718 non-null  object
 9   planning_area  25718 non-null  object
 10  subszone       25718 non-null  object
 11  lat            25718 non-null  float64
 12  lng            25718 non-null  float64
 13  tenure         25433 non-null  object
 14  built_year     25645 non-null  float64
 15  no_of_units    24680 non-null  float64
 16  area_size      25718 non-null  float64
 17  date_listed    25718 non-null  object
 18  price          25718 non-null  float64
 19  bedrooms_1     25718 non-null  float64
 20  time_period    25718 non-null  int64
 21  tenure_change  25718 non-null  int64
dtypes: float64(8), int64(5), object(9)
memory usage: 4.3+ MB

In [27]:
df_rh = df_rh.rename(columns={"time_period":"tenure_remains", "tenure_change":"tenure_years"})

In [40]:
sum(df_rh.bedrooms_1==0.0)

396

In [42]:
df_rh[df_rh.tenure_remains==0]

,index,listing_id,name,street,type,bedrooms,bathrooms,district,region,planning_area,...,lng,tenure,built_year,no_of_units,area_size,date_listed,price,bedrooms_1,tenure_remains,tenure_years
12,12,4245267,tampines street 11,tampines street 11,condominium,3,2.0,18,east region,tampines,...,103.945385,NaN,1982.0,NaN,1033.0,2021-12-07,1705000.0,3.0,0,999
76,76,2444242,jalan besar,225 jalan besar,condominium,3,3.0,8,central region,kallang,...,103.857585,NaN,1970.0,NaN,1442.0,2021-03-15,2750000.0,3.0,0,999
285,285,7090887,brookvale drive,brookvale drive,condominium,3,2.0,21,west region,clementi,...,103.767520,NaN,2024.0,NaN,1109.0,2021-10-16,2350700.0,3.0,0,999
430,430,3531066,shunfu road,shunfu road,condominium,2,2.0,20,central region,bishan,...,103.837032,NaN,1985.0,NaN,764.0,2021-10-12,1427800.0,2.0,0,999
493,493,4693226,hougang avenue 7,hougang avenue 7,condominium,2,2.0,19,north-east region,hougang,...,103.890681,NaN,2000.0,NaN,1410.0,2021-10-12,2129600.0,2.0,0,999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25231,25235,7347765,shunfu road,shunfu road,condominium,2,1.0,20,central region,bishan,...,103.837032,NaN,1985.0,NaN,646.0,2021-10-12,1248500.0,2.0,0,999
25380,25384,4562484,pasir panjang road,pasir panjang road,apartment,2,2.0,5,central region,queenstown,...,103.773866,NaN,1994.0,NaN,657.0,2021-10-31,1650000.0,2.0,0,999
25399,25403,7083605,brookvale drive,brookvale drive,condominium,2,2.0,21,west region,clementi,...,103.767520,NaN,2024.0,NaN,700.0,2021-10-12,1270500.0,2.0,0,999
25451,25455,1157244,simei street 1,simei street 1,condominium,4,2.0,18,east region,tampines,...,103.951760,NaN,1996.0,NaN,1270.0,2021-10-12,1570800.0,4.0,0,999
25544,25548,2890678,jervois road,jervois road,condominium,2,2.0,10,central region,tanglin,...,103.825615,NaN,NaN,NaN,786.0,2021-10-12,1772100.0,2.0,0,999

In [43]:
df_rh.at[df_rh.tenure_remains==0, 'tenure_years']=99

In [45]:
df_rh[df_rh.tenure_remains==0]

,index,listing_id,name,street,type,bedrooms,bathrooms,district,region,planning_area,...,lng,tenure,built_year,no_of_units,area_size,date_listed,price,bedrooms_1,tenure_remains,tenure_years
12,12,4245267,tampines street 11,tampines street 11,condominium,3,2.0,18,east region,tampines,...,103.945385,NaN,1982.0,NaN,1033.0,2021-12-07,1705000.0,3.0,0,99
76,76,2444242,jalan besar,225 jalan besar,condominium,3,3.0,8,central region,kallang,...,103.857585,NaN,1970.0,NaN,1442.0,2021-03-15,2750000.0,3.0,0,99
285,285,7090887,brookvale drive,brookvale drive,condominium,3,2.0,21,west region,clementi,...,103.767520,NaN,2024.0,NaN,1109.0,2021-10-16,2350700.0,3.0,0,99
430,430,3531066,shunfu road,shunfu road,condominium,2,2.0,20,central region,bishan,...,103.837032,NaN,1985.0,NaN,764.0,2021-10-12,1427800.0,2.0,0,99
493,493,4693226,hougang avenue 7,hougang avenue 7,condominium,2,2.0,19,north-east region,hougang,...,103.890681,NaN,2000.0,NaN,1410.0,2021-10-12,2129600.0,2.0,0,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25231,25235,7347765,shunfu road,shunfu road,condominium,2,1.0,20,central region,bishan,...,103.837032,NaN,1985.0,NaN,646.0,2021-10-12,1248500.0,2.0,0,99
25380,25384,4562484,pasir panjang road,pasir panjang road,apartment,2,2.0,5,central region,queenstown,...,103.773866,NaN,1994.0,NaN,657.0,2021-10-31,1650000.0,2.0,0,99
25399,25403,7083605,brookvale drive,brookvale drive,condominium,2,2.0,21,west region,clementi,...,103.767520,NaN,2024.0,NaN,700.0,2021-10-12,1270500.0,2.0,0,99
25451,25455,1157244,simei street 1,simei street 1,condominium,4,2.0,18,east region,tampines,...,103.951760,NaN,1996.0,NaN,1270.0,2021-10-12,1570800.0,4.0,0,99
25544,25548,2890678,jervois road,jervois road,condominium,2,2.0,10,central region,tanglin,...,103.825615,NaN,NaN,NaN,786.0,2021-10-12,1772100.0,2.0,0,99

In [47]:
df_rh = df_rh.drop(columns=['tenure', 'bedrooms'], axis=1)

In [48]:
df_rh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25718 entries, 0 to 25717
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           25718 non-null  int64
 1   listing_id      25718 non-null  int64
 2   name            25718 non-null  object
 3   street          25718 non-null  object
 4   type            25718 non-null  object
 5   bathrooms       24484 non-null  float64
 6   district        25718 non-null  int64
 7   region          25718 non-null  object
 8   planning_area   25718 non-null  object
 9   subszone        25718 non-null  object
 10  lat             25718 non-null  float64
 11  lng             25718 non-null  float64
 12  built_year      25645 non-null  float64
 13  no_of_units     24680 non-null  float64
 14  area_size       25718 non-null  float64
 15  date_listed     25718 non-null  object
 16  price           25718 non-null  float64
 17  bedrooms_1      25718 non-null  float64
 18  tenure_remains  25718 non-null  int64
 19  tenure_years    25718 non-null  int64
dtypes: float64(8), int64(5), object(7)
memory usage: 3.9+ MB

In [49]:
df_rh = df_rh.rename(columns={'bedrooms_1':'bedrooms'})
df_rh.head()

,index,listing_id,name,street,type,bathrooms,district,region,planning_area,subszone,lat,lng,built_year,no_of_units,area_size,date_listed,price,bedrooms,tenure_remains,tenure_years
0,0,6998418,seascape,57 cove way,condominium,4.0,4,central region,southern islands,sentosa,1.239337,103.837487,2011.0,151.0,2336.0,2021-05-04,5390000.0,3.0,99,99
1,1,2046604,la maison,10 moulmein rise,apartment,3.0,11,central region,novena,moulmein,1.319533,103.847030,1999.0,24.0,1259.0,2021-05-07,2310000.0,3.0,1000000,999
2,2,7563513,viva,2 suffolk walk,condominium,3.0,11,central region,novena,moulmein,1.315656,103.844445,2012.0,235.0,1959.0,2021-06-30,5279500.0,4.0,1000000,999
3,3,3071445,urban treasures,205 jalan eunos,condominium,2.0,14,east region,bedok,kaki bukit,1.329367,103.905791,1930.0,237.0,883.0,2022-01-02,1843600.0,3.0,1000000,999
4,4,9667539,infini at east coast,east coast road,apartment,3.0,15,east region,bedok,frankel,1.309176,103.911352,2022.0,36.0,1066.0,2021-12-24,2262700.0,3.0,1000000,999

In [52]:
df_rh = df_rh.drop(columns=['index'], axis=1)

KeyError: "['index'] not found in axis"

In [53]:
df_rh = df_rh.drop(columns=[ 'lat', 'lng'], axis=1)

In [54]:
df_rh.head()

,listing_id,name,street,type,bathrooms,district,region,planning_area,subszone,built_year,no_of_units,area_size,date_listed,price,bedrooms,tenure_remains,tenure_years
0,6998418,seascape,57 cove way,condominium,4.0,4,central region,southern islands,sentosa,2011.0,151.0,2336.0,2021-05-04,5390000.0,3.0,99,99
1,2046604,la maison,10 moulmein rise,apartment,3.0,11,central region,novena,moulmein,1999.0,24.0,1259.0,2021-05-07,2310000.0,3.0,1000000,999
2,7563513,viva,2 suffolk walk,condominium,3.0,11,central region,novena,moulmein,2012.0,235.0,1959.0,2021-06-30,5279500.0,4.0,1000000,999
3,3071445,urban treasures,205 jalan eunos,condominium,2.0,14,east region,bedok,kaki bukit,1930.0,237.0,883.0,2022-01-02,1843600.0,3.0,1000000,999
4,9667539,infini at east coast,east coast road,apartment,3.0,15,east region,bedok,frankel,2022.0,36.0,1066.0,2021-12-24,2262700.0,3.0,1000000,999

In [56]:
df_rh.to_csv('dataset/ziji_mar27.csv', index=False)