## Initial understanding of the data, brainstorming for discussion at the meeting

In [2]:
#load packages
import sys #access to system parameters https://docs.python.org/3/library/sys.html
print("Python version: {}". format(sys.version))

import pandas as pd #collection of functions for data processing and analysis modeled after R dataframes with SQL like features
print("pandas version: {}". format(pd.__version__))

import matplotlib #collection of functions for scientific and publication-ready visualization
print("matplotlib version: {}". format(matplotlib.__version__))

import numpy as np #foundational package for scientific computing
print("NumPy version: {}". format(np.__version__))

import scipy as sp #collection of functions for scientific computing and advance mathematics
print("SciPy version: {}". format(sp.__version__)) 

import IPython
from IPython import display #pretty printing of dataframes in Jupyter notebook
print("IPython version: {}". format(IPython.__version__)) 

import sklearn #collection of machine learning algorithms
print("scikit-learn version: {}". format(sklearn.__version__))

#misc libraries
import random
import time


#ignore warnings
import warnings
warnings.filterwarnings('ignore')
print('-'*25)

Python version: 3.9.7 (default, Sep 16 2021, 08:50:36)
[Clang 10.0.0 ]
pandas version: 1.4.1
matplotlib version: 3.4.3
NumPy version: 1.20.3
SciPy version: 1.7.1
IPython version: 7.29.0
scikit-learn version: 0.24.2
-------------------------

In [3]:
#Common Model Algorithms
from sklearn import svm, tree, linear_model, neighbors, naive_bayes, ensemble, discriminant_analysis, gaussian_process
from xgboost import XGBClassifier

#Common Model Helpers
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn import feature_selection
from sklearn import model_selection
from sklearn import metrics

#Visualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
from pandas.plotting import scatter_matrix

#Configure Visualization Defaults
#%matplotlib inline = show plots in Jupyter Notebook browser
%matplotlib inline
mpl.style.use('ggplot')
sns.set_style('white')
pylab.rcParams['figure.figsize'] = 12,8

In [7]:
data_raw = pd.read_csv("dataset/train.csv")
data_val  = pd.read_csv("dataset/train.csv")


#to play with our data we'll create a copy
#remember python assignment or equal passes by reference vs values, so we use the copy function: https://stackoverflow.com/questions/46327494/python-pandas-dataframe-copydeep-false-vs-copydeep-true-vs
data1 = data_raw.copy(deep = True)

#however passing by reference is convenient, because we can clean both datasets at once
data_cleaner = [data1, data_val]

#preview data
print (data_raw.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26048 entries, 0 to 26047
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   listing_id      26048 non-null  int64
 1   name            26048 non-null  object
 2   street          26048 non-null  object
 3   type            26048 non-null  object
 4   model           24768 non-null  object
 5   market_segment  26048 non-null  object
 6   type_of_area    26048 non-null  object
 7   bedrooms        25644 non-null  object
 8   bathrooms       24812 non-null  float64
 9   district        26048 non-null  int64
 10  region          26048 non-null  object
 11  planning_area   26048 non-null  object
 12  subszone        26048 non-null  object
 13  lat             26048 non-null  float64
 14  lng             26048 non-null  float64
 15  tenure          25761 non-null  object
 16  built_year      16005 non-null  float64
 17  no_of_units     25006 non-null  float64
 18  area_size       26046 non-null  float64
 19  eco_category    26048 non-null  object
 20  accessibility   26048 non-null  object
 21  date_listed     26048 non-null  object
 22  price           26048 non-null  float64
dtypes: float64(7), int64(2), object(14)
memory usage: 4.6+ MB
None

In [8]:
print('Train columns with null values:\n', data1.isnull().sum())
print("-"*10)

print('Test/Validation columns with null values:\n', data_val.isnull().sum())
print("-"*10)

data_raw.describe(include = 'all')

Train columns with null values:
 listing_id            0
name                  0
street                0
type                  0
model              1280
market_segment        0
type_of_area          0
bedrooms            404
bathrooms          1236
district              0
region                0
planning_area         0
subszone              0
lat                   0
lng                   0
tenure              287
built_year        10043
no_of_units        1042
area_size             2
eco_category          0
accessibility         0
date_listed           0
price                 0
dtype: int64
----------
Test/Validation columns with null values:
 listing_id            0
name                  0
street                0
type                  0
model              1280
market_segment        0
type_of_area          0
bedrooms            404
bathrooms          1236
district              0
region                0
planning_area         0
subszone              0
lat                   0
lng                   0
tenure              287
built_year        10043
no_of_units        1042
area_size             2
eco_category          0
accessibility         0
date_listed           0
price                 0
dtype: int64
----------

,listing_id,name,street,type,model,market_segment,type_of_area,bedrooms,bathrooms,district,...,lat,lng,tenure,built_year,no_of_units,area_size,eco_category,accessibility,date_listed,price
count,2.604800e+04,26048,26048,26048,24768,26048,26048,25644,24812.000000,26048.000000,...,26048.000000,26048.000000,25761,16005.000000,25006.000000,26046.000000,26048,26048,26048,2.604800e+04
unique,NaN,1650,3442,2,14,1,1,17,NaN,NaN,...,NaN,NaN,53,NaN,NaN,NaN,1,1,359,NaN
top,NaN,marina one residences,23 marina way,apartment,apartment,ocr,strata,3,NaN,NaN,...,NaN,NaN,leasehold/99 years,NaN,NaN,NaN,uncategorized,guarded,2021-10-12,NaN
freq,NaN,668,274,13958,13306,26048,26048,7306,NaN,NaN,...,NaN,NaN,15300,NaN,NaN,NaN,26048,26048,1728,NaN
mean,5.495573e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.278091,12.211609,...,1.321145,103.846138,NaN,2010.926398,462.350636,1248.902096,NaN,NaN,NaN,2.994669e+06
std,2.608064e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.147204,7.020134,...,0.038569,0.049865,NaN,11.915875,423.476259,1066.102020,NaN,NaN,NaN,4.324294e+06
min,1.000122e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,...,1.239337,103.696215,NaN,1799.000000,1.000000,226.000000,NaN,NaN,NaN,5.566000e+05
25%,3.229224e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,7.000000,...,1.296472,103.820262,NaN,2010.000000,130.000000,678.000000,NaN,NaN,NaN,1.331000e+06
50%,5.486808e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,11.000000,...,1.313384,103.843081,NaN,2014.000000,366.000000,958.000000,NaN,NaN,NaN,1.851800e+06
75%,7.764926e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,18.000000,...,1.341210,103.879673,NaN,2016.000000,646.000000,1356.000000,NaN,NaN,NaN,2.948000e+06
max,9.999807e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,28.000000,...,1.456436,103.976016,NaN,2021.000000,2203.000000,15000.000000,NaN,NaN,NaN,7.480000e+07

## unique values

It is meaningless to find a variable with only one value through unique: market_segment, type_of_area, eco_category, accessibility can be discarded

In [9]:
data_raw.nunique()

listing_id        26048
name               1650
street             3442
type                  2
model                14
market_segment        1
type_of_area          1
bedrooms             17
bathrooms             9
district             27
region                5
planning_area        38
subszone            193
lat                3118
lng                3118
tenure               53
built_year           60
no_of_units         526
area_size          1178
eco_category          1
accessibility         1
date_listed         359
price              4704
dtype: int64

In [10]:
data_raw.drop(columns=["market_segment", "type_of_area", "eco_category", "accessibility"], inplace=True)

## observe the value of each variable

In [22]:
var_ls=list(data_raw.columns)
var_ls

['listing_id',
 'name',
 'street',
 'type',
 'model',
 'bedrooms',
 'bathrooms',
 'district',
 'region',
 'planning_area',
 'subszone',
 'lat',
 'lng',
 'tenure',
 'built_year',
 'no_of_units',
 'area_size',
 'date_listed',
 'price']

In [28]:
for i in var_ls:
    print("variable {0} : {1}".format(i,data_raw[i].unique()))

variable listing_id : [6998418 2046604 7563513 ... 2402528 8150354 8675194]
variable name : ['seascape' 'la maison' 'viva' ... 'kembangan plaza' 'the grandhill'
 'beauty world centre']
variable street : ['57 cove way ' '10 moulmein rise ' '2 suffolk walk ' ... '71 oxley rise '
 '301 jalan bukit ho swee ' '12b cairnhill rise ']
variable type : ['condominium' 'apartment']
variable model : ['condominium' 'apartment' 'executive condominium' nan 'walk-up apt'
 'townhouse' 'soho' 'penthouse' 'duplex' 'high rise'
 'residential with commercial on level 1' 'with pool' 'low rise'
 'shophouse' 'strata terrace']
variable bedrooms : ['3' '4' '2' '1' '3+1' '1+1' '2+1' nan '5' '4+1' '7' '5+1' '6' '3+2' '2+2'
 '9' '8' '4+2']
variable bathrooms : [ 4.  3.  2.  1. nan  5.  6.  7.  8. 10.]
variable district : [ 4 11 14 15 27 23 19  7  2 10 18 16  1  6  3  5  9 28 13 21 17  8 22 12
 20 25 26]
variable region : ['central region' 'east region' 'north region' 'west region'
 'north-east region']
variable planning_area : ['southern islands' 'novena' 'bedok' 'sembawang' 'bukit batok' 'sengkang'
 'downtown core' 'newton' 'tampines' 'kallang' 'bukit merah'
 'choa chu kang' 'bukit timah' 'outram' 'queenstown' 'river valley'
 'singapore river' 'toa payoh' 'hougang' 'tanglin' 'pasir ris' 'geylang'
 'museum' 'clementi' 'serangoon' 'jurong east' 'orchard' 'yishun'
 'marine parade' 'bukit panjang' 'jurong west' 'ang mo kio' 'rochor'
 'bishan' 'punggol' 'woodlands' 'mandai' 'changi']
variable subszone : ['sentosa' 'moulmein' 'kaki bukit' 'frankel' 'sembawang springs'
 'hillview' 'compassvale' 'city hall' 'anson' 'orange grove' 'bugis'
 'tampines east' 'bedok south' 'bedok north' 'tanjong rhu'
 'central subzone' 'kampong tiong bahru' 'keat hong' 'leedon park'
 "pearl's hill" 'kent ridge' 'maritime square' 'one tree hill'
 'robertson quay' 'fernvale' 'cairnhill' 'sennett' 'bukit ho swee'
 'pasir panjang 2' 'lorong ah soo' 'leonie hill' 'joo seng' 'nassim'
 'anak bukit' 'flora drive' 'aljunied' 'bidadari' 'swiss club' 'kangkar'
 'farrer court' 'institution hill' 'dhoby ghaut' 'everton park'
 'sunset way' 'holland road' 'margaret drive' 'oxley' 'lorong chuan'
 'lavender' 'one north' 'sembawang east' 'kovan' 'serangoon garden'
 'west coast' 'jurong gateway' 'nicoll' 'balestier' 'tanglin'
 'clarke quay' 'lower seletar' 'braddell' 'simei' 'seletar hills'
 'mountbatten' 'dairy farm' 'clementi west' 'marine parade'
 'upper paya lebar' 'boulevard' 'potong pasir' 'ulu pandan'
 'yishun central' 'bendemeer' 'faber' 'taman jurong' 'cecil'
 'pasir ris central' 'kampong java' 'tanjong pagar' 'kembangan'
 'alexandra north' 'malcolm' 'coronation road' 'pasir ris park'
 'kebun bahru' 'chatsworth' 'yishun east' 'mount emily' 'upper thomson'
 'punggol town centre' 'clementi woods' 'pasir ris west' 'tiong bahru'
 'marymount' 'mei chin' 'loyang east' 'tampines west' 'xilin' 'anchorvale'
 'jelebu' 'tiong bahru station' 'woodlands east' 'hong kah' 'woodgrove'
 'geylang east' 'guilin' 'boon teck' 'tyersall' 'sengkang town centre'
 'matilda' 'gombak' 'bedok reservoir' 'mackenzie' 'bangkit'
 'holland drive' 'teck whye' 'jurong west central' 'siglap' 'farrer park'
 'yio chu kang east' 'macpherson' 'chinatown' 'pasir panjang 1'
 'mandai estate' 'woodlands south' 'redhill' 'hougang central'
 'kampong bugis' 'newton circus' 'nee soon' 'boon keng' 'yishun west'
 'woodleigh' 'sembawang hills' 'bencoolen' "monk's hill" 'rivervale'
 'hougang east' 'telok blangah drive' 'goodwood park' 'crawford'
 'pasir ris drive' 'serangoon central' 'yio chu kang west'
 'choa chu kang central' 'yunnan' 'ridout' 'bayshore' 'yishun south'
 'punggol field' 'brickworks' 'sembawang central' 'yuhua east' 'boat quay'
 'yew tee' 'bishan east' 'dunearn' 'paterson' 'katong' 'toa payoh central'
 'saujana' 'depot road' "people's park" 'trafalgar' 'tai seng' 'somerset'
 'hougang west' 'hillcrest' 'nature reserve' 'clementi central'
 'waterway east' 'bukit batok central' 'lakeside (leisure)'
 'boon lay place' 'yuhua west' 'sembawang straits' 'china square' 'tagore'
 'changi west' 'dover' 'hong kah north' 'selegie' 'ang mo kio town centre'
 'bukit batok south' 'toa payoh west' 'istana negara' 'telok blangah rise'
 'choa chu kang north' 'fort canning' 'victoria' 'peng siang'
 'little india' 'kampong glam']
variable lat : [1.23933663 1.31953349 1.31565586 ... 1.28162632 1.34241264 1.30899132]
variable lng : [103.83748719 103.84702986 103.84444472 ... 103.78486945 103.77653939
 103.83828467]
variable tenure : ['leasehold/99 years' 'freehold' nan '999 years'
 '99 years from 18/04/2016' '956 years from 27/05/1928'
 '99 years from 12/08/2002' 'leasehold/60 years'
 '99 years from 14/08/2018' '9999 years from 02/06/1995'
 '99 years from 09/03/2016' 'leasehold/103 years'
 '99 years from 10/07/2013' '99 years from 25/06/2008'
 '99 years from 03/07/2019' '99 years from 12/07/2018'
 '946 years from 01/01/1938' '99 years' '99 years from 29/06/2015'
 '99 years from 16/04/2012' '99 years from 19/03/2001'
 '99 years from 04/12/2012' '99 years from 27/03/2018'
 '110 years from 01/11/2017' '99 years from 11/02/2009'
 '99 years from 10/12/2018' '99 years from 24/12/2018'
 '947 years from 05/10/1934' '998 years from 12/10/1885'
 '99 years from 01/09/1991' '99 years from 01/03/1991'
 '99 years from 21/03/2006' '947 years from 15/05/1937'
 '99 years from 13/03/2017' '99 years from 23/07/1991'
 '99 years from 23/04/2014' '99 years from 03/08/2010'
 '929 years from 01/01/1953' '946 years from 27/11/1937'
 '99 years from 01/12/1991' '99 years from 04/06/2012'
 '99 years from 12/08/1996' '99 years from 15/06/2011'
 '99 years from 10/01/2011' '99 years from 03/10/2011'
 '99 years from 22/11/2002' '99 years from 28/06/2011'
 '100 years from 01/02/1986' '99 years from 16/12/1997'
 '99 years from 01/12/1994' '99 years from 11/07/2011'
 '99 years from 02/02/1998' '99 years from 01/12/1997'
 '99 years from 27/12/2010']
variable built_year : [2011. 1999. 2012.   nan 2014. 2020. 2002. 2016. 2008. 2018. 2017. 2009.
 1978. 1993. 2019. 2015. 2013. 2007. 2010. 1989. 1996. 1930. 1985. 2021.
 1998. 1995. 2005. 2000. 1974. 2004. 2003. 2001. 1997. 2006. 1937. 1994.
 1986. 1977. 1984. 1970. 1976. 1990. 1992. 1981. 1988. 1991. 1966. 1983.
 1975. 1979. 1980. 1960. 1972. 1982. 1799. 1971. 1967. 1910. 1965. 1987.
 1968.]
variable no_of_units : [1.510e+02 2.400e+01 2.350e+02 2.370e+02 3.600e+01 4.480e+02 5.640e+02
 6.800e+02 2.190e+02 2.020e+02 1.560e+02 5.580e+02       nan 7.200e+02
 4.820e+02 1.300e+02 1.111e+03 1.240e+02 3.900e+01 1.074e+03 1.327e+03
 6.900e+01 7.740e+02 1.862e+03 3.660e+02 6.000e+01 1.042e+03 5.450e+02
 5.550e+02 2.040e+02 3.320e+02 2.800e+02 1.200e+02 3.950e+02 4.620e+02
 8.680e+02 1.800e+02 1.150e+02 5.010e+02 1.024e+03 3.400e+01 1.380e+02
 6.670e+02 5.480e+02 4.280e+02 2.150e+02 3.940e+02 3.780e+02 1.715e+03
 5.100e+01 5.000e+01 4.300e+01 1.160e+02 2.620e+02 6.600e+02 7.480e+02
 2.850e+02 8.450e+02 4.400e+01 6.500e+01 2.203e+03 5.200e+01 3.400e+02
 1.650e+02 4.130e+02 1.410e+03 1.052e+03 1.360e+02 7.380e+02 3.760e+02
 3.600e+02 1.540e+02 6.960e+02 4.200e+02 4.930e+02 1.370e+02 5.300e+01
 3.100e+01 5.900e+02 5.400e+01 5.660e+02 2.220e+02 2.490e+02 6.460e+02
 2.760e+02 1.170e+02 2.000e+02 4.600e+02 1.310e+02 2.200e+01 1.129e+03
 1.390e+02 2.500e+02 7.000e+01 3.380e+02 7.310e+02 4.920e+02 1.700e+02
 1.400e+02 9.200e+02 8.620e+02 1.468e+03 5.460e+02 3.510e+02 5.100e+02
 7.240e+02 4.600e+01 1.472e+03 4.500e+02 7.600e+01 3.200e+01 6.630e+02
 8.000e+01 9.000e+01 4.760e+02 4.900e+01 9.120e+02 1.050e+02 3.870e+02
 1.790e+02 1.060e+02 4.200e+01 5.400e+02 5.220e+02 6.980e+02 6.600e+01
 7.500e+01 6.380e+02 1.410e+02 4.860e+02 2.720e+02 7.260e+02 8.800e+01
 9.920e+02 3.250e+02 3.610e+02 1.040e+02 6.400e+02 4.700e+01 3.970e+02
 5.820e+02 1.165e+03 5.000e+02 1.880e+02 1.900e+01 2.300e+01 1.680e+02
 3.360e+02 1.280e+02 6.000e+02 1.259e+03 3.620e+02 4.160e+02 3.960e+02
 6.290e+02 2.560e+02 7.550e+02 4.120e+02 5.120e+02 1.800e+01 2.780e+02
 8.700e+01 8.000e+00 3.580e+02 7.120e+02 6.260e+02 2.480e+02 7.000e+02
 6.890e+02 2.640e+02 2.300e+02 2.500e+01 6.450e+02 4.960e+02 5.780e+02
 8.500e+01 3.700e+01 1.930e+02 3.120e+02 8.100e+02 5.600e+01 8.820e+02
 5.920e+02 5.210e+02 9.200e+01 3.050e+02 2.580e+02 5.500e+01 2.930e+02
 4.290e+02 4.830e+02 2.960e+02 9.100e+01 7.100e+02 3.190e+02 1.180e+02
 6.100e+02 1.600e+01 1.080e+02 8.410e+02 2.010e+02 1.290e+02 1.440e+02
 5.830e+02 3.410e+02 1.700e+01 1.090e+02 6.420e+02 2.880e+02 1.206e+03
 1.760e+02 7.290e+02 7.400e+01 2.650e+02 6.160e+02 2.440e+02 7.520e+02
 3.830e+02 3.090e+02 4.690e+02 1.690e+02 4.050e+02 3.040e+02 6.530e+02
 5.700e+01 1.620e+02 5.280e+02 5.560e+02 4.000e+01 5.800e+01 4.000e+02
 1.200e+01 4.430e+02 3.300e+01 6.300e+01 7.200e+01 8.610e+02 1.600e+02
 1.145e+03 4.780e+02 1.390e+03 1.100e+01 5.040e+02 5.200e+02 3.930e+02
 2.120e+02 7.020e+02 8.400e+01 9.440e+02 4.870e+02 1.900e+02 2.210e+02
 3.370e+02 4.100e+01 4.360e+02 7.100e+01 4.140e+02 3.000e+01 9.600e+01
 4.190e+02 5.080e+02 1.670e+02 8.050e+02 4.180e+02 4.000e+00 6.840e+02
 2.050e+02 5.740e+02 1.920e+02 4.950e+02 4.800e+01 1.210e+02 4.800e+02
 1.860e+02 7.160e+02 9.700e+01 2.810e+02 1.100e+02 3.800e+02 2.290e+02
 2.700e+01 2.000e+01 1.010e+02 2.660e+02 3.270e+02 3.650e+02 7.780e+02
 7.560e+02 4.730e+02 2.600e+02 7.370e+02 1.710e+02 5.620e+02 2.830e+02
 2.920e+02 2.100e+01 9.100e+02 6.790e+02 4.170e+02 4.370e+02 1.020e+02
 6.540e+02 9.900e+01 1.270e+02 3.110e+02 1.340e+02 1.980e+02 2.970e+02
 2.240e+02 5.970e+02 1.320e+02 6.220e+02 7.620e+02 2.750e+02 1.890e+02
 2.950e+02 6.640e+02 2.740e+02 8.900e+01 4.450e+02 7.900e+01 1.570e+02
 6.800e+01 4.720e+02 2.100e+02 1.110e+02 1.038e+03 3.880e+02 5.770e+02
 5.720e+02 9.690e+02 1.460e+02 3.290e+02 5.050e+02 5.610e+02 1.140e+02
 7.280e+02 5.980e+02 2.800e+01 5.160e+02 4.500e+01 1.750e+02 1.580e+02
 3.820e+02 7.700e+01 2.310e+02 5.060e+02 1.720e+02 2.080e+02 6.510e+02
 1.770e+02 6.700e+02 4.100e+02 4.530e+02 4.060e+02 7.220e+02 6.280e+02
 9.400e+01 6.550e+02 2.890e+02 4.590e+02 1.970e+02 4.890e+02 5.730e+02
 1.470e+02 2.520e+02 1.630e+02 9.800e+01 6.940e+02 2.680e+02 1.500e+02
 2.340e+02 2.180e+02 6.080e+02 1.093e+03 1.590e+02 1.500e+01 3.840e+02
 6.120e+02 6.020e+02 2.410e+02 8.920e+02 3.450e+02 1.190e+02 6.360e+02
 2.280e+02 7.540e+02 8.100e+01 1.640e+02 5.090e+02 5.300e+02 4.300e+02
 6.100e+01 1.040e+03 2.390e+02 4.350e+02 2.600e+01 5.170e+02 2.910e+02
 5.270e+02 4.680e+02 7.350e+02 8.200e+01 9.060e+02 5.900e+01 1.399e+03
 1.000e+01 1.000e+02 3.020e+02 2.140e+02 2.510e+02 3.500e+02 1.480e+02
 7.800e+01 7.750e+02 1.420e+02 1.820e+02 2.160e+02 5.310e+02 3.200e+02
 3.500e+01 5.360e+02 1.232e+03 3.300e+02 1.520e+02 6.400e+01 8.200e+02
 5.250e+02 7.300e+01 6.200e+01 3.810e+02 3.480e+02 1.300e+01 2.400e+02
 3.180e+02 1.250e+02 6.300e+02 1.830e+02 6.700e+01 4.080e+02 3.010e+02
 3.900e+02 6.590e+02 4.490e+02 6.060e+02 4.630e+02 3.470e+02 7.000e+00
 2.110e+02 2.540e+02 2.980e+02 3.150e+02 3.160e+02 5.020e+02 6.180e+02
 7.360e+02 6.130e+02 2.320e+02 5.190e+02 4.440e+02 2.990e+02 1.000e+03
 6.150e+02 7.970e+02 2.130e+02 4.320e+02 9.500e+02 4.570e+02 1.740e+02
 4.790e+02 1.070e+02 2.420e+02 7.470e+02 6.000e+00 4.810e+02 3.730e+02
 6.230e+02 3.910e+02 6.480e+02 6.250e+02 1.350e+02 3.280e+02 4.520e+02
 9.500e+01 4.560e+02 1.400e+01 1.120e+02 6.860e+02 3.800e+01 9.280e+02
 8.480e+02 1.960e+02 3.540e+02 6.990e+02 1.220e+02 2.900e+01 1.260e+02
 2.730e+02 2.060e+02 4.660e+02 5.320e+02 9.180e+02 9.000e+00 5.790e+02
 1.940e+02 3.220e+02 3.690e+02 2.200e+02 2.700e+02 4.770e+02 4.900e+02
 8.600e+01 3.070e+02 5.370e+02 3.720e+02 1.030e+02 1.870e+02 5.000e+00
 2.260e+02 2.690e+02 5.530e+02 3.980e+02 8.300e+01 4.970e+02 4.750e+02
 1.840e+02 1.000e+00]
variable area_size : [2336. 1259. 1959. ... 2880.  833. 5743.]
variable date_listed : ['2021-05-04' '2021-05-07' '2021-06-30' '2022-01-02' '2021-12-24'
 '2022-01-04' '2022-01-05' '2021-12-17' '2021-12-25' '2021-09-24'
 '2021-07-28' '2021-12-26' '2021-12-07' '2021-12-30' '2021-12-20'
 '2021-10-12' '2021-11-01' '2021-12-21' '2021-06-11' '2021-12-28'
 '2021-12-16' '2021-12-11' '2021-12-29' '2021-10-05' '2021-10-04'
 '2021-09-22' '2021-01-05' '2021-11-24' '2021-12-18' '2021-11-05'
 '2021-01-25' '2021-12-23' '2021-12-19' '2022-01-01' '2021-12-10'
 '2021-12-13' '2021-12-06' '2021-04-14' '2021-10-24' '2021-12-12'
 '2021-12-14' '2021-11-13' '2021-10-01' '2021-03-12' '2021-12-22'
 '2021-12-08' '2021-12-27' '2021-03-15' '2021-10-11' '2021-06-15'
 '2021-10-30' '2021-10-26' '2022-01-03' '2021-10-02' '2021-11-08'
 '2021-11-27' '2021-04-15' '2021-05-19' '2021-12-09' '2021-11-07'
 '2021-10-09' '2021-06-10' '2021-08-05' '2021-10-08' '2021-02-01'
 '2021-12-01' '2021-12-31' '2021-11-09' '2021-10-20' '2021-06-28'
 '2021-09-17' '2021-12-04' '2021-11-17' '2021-07-30' '2021-12-15'
 '2021-11-06' '2021-04-16' '2021-09-05' '2021-11-04' '2021-09-30'
 '2021-07-06' '2021-07-13' '2021-10-15' '2021-11-28' '2021-11-16'
 '2021-11-21' '2021-10-07' '2021-10-25' '2021-10-19' '2021-07-11'
 '2021-05-20' '2021-11-12' '2021-10-10' '2021-11-10' '2021-10-16'
 '2021-12-05' '2021-09-23' '2021-05-28' '2021-09-15' '2021-08-11'
 '2021-02-05' '2021-10-18' '2021-10-03' '2021-06-24' '2021-09-13'
 '2021-11-02' '2021-11-30' '2021-09-29' '2021-06-07' '2021-05-05'
 '2021-03-31' '2021-06-02' '2021-11-22' '2021-08-31' '2021-12-03'
 '2021-06-01' '2021-08-09' '2021-01-29' '2021-11-18' '2021-10-27'
 '2021-09-25' '2021-11-23' '2021-05-18' '2021-06-09' '2021-09-20'
 '2021-09-27' '2021-04-28' '2021-11-26' '2021-08-06' '2021-04-21'
 '2021-09-26' '2021-10-06' '2021-11-29' '2021-11-14' '2021-10-28'
 '2021-10-13' '2021-10-23' '2021-06-25' '2021-10-17' '2021-07-17'
 '2021-03-13' '2021-09-28' '2021-08-01' '2021-05-01' '2021-03-04'
 '2021-06-12' '2021-10-14' '2021-06-23' '2021-08-27' '2021-10-29'
 '2021-11-19' '2021-12-02' '2021-05-31' '2021-05-03' '2021-11-15'
 '2021-09-08' '2021-01-06' '2021-06-20' '2021-08-12' '2020-12-28'
 '2021-07-19' '2021-10-31' '2021-11-20' '2021-09-02' '2021-08-10'
 '2021-05-25' '2021-01-17' '2021-11-03' '2021-02-09' '2021-09-04'
 '2021-08-04' '2021-10-21' '2021-05-27' '2021-06-03' '2021-10-22'
 '2021-07-24' '2021-02-03' '2021-03-27' '2021-08-26' '2021-09-09'
 '2021-05-26' '2021-05-16' '2021-07-01' '2021-02-21' '2021-06-21'
 '2021-05-17' '2021-05-06' '2021-11-11' '2021-08-28' '2021-09-10'
 '2021-03-01' '2021-03-05' '2021-06-22' '2021-08-24' '2021-08-02'
 '2021-09-03' '2021-02-26' '2021-11-25' '2021-04-12' '2022-01-06'
 '2021-08-23' '2021-05-24' '2021-04-09' '2021-06-19' '2021-07-04'
 '2021-07-15' '2021-01-26' '2021-09-07' '2021-03-02' '2021-08-03'
 '2021-04-20' '2021-08-16' '2021-04-18' '2021-04-29' '2021-08-29'
 '2021-04-05' '2021-01-09' '2021-01-22' '2021-08-20' '2021-07-21'
 '2021-08-13' '2021-04-27' '2021-03-25' '2021-03-19' '2021-02-20'
 '2021-06-26' '2021-04-03' '2021-09-14' '2021-01-18' '2021-02-17'
 '2021-09-01' '2021-07-29' '2021-05-29' '2021-08-14' '2021-09-12'
 '2021-07-31' '2021-03-17' '2021-08-22' '2021-07-02' '2021-08-30'
 '2021-04-30' '2021-07-03' '2021-04-13' '2021-04-26' '2021-05-12'
 '2021-03-11' '2021-07-10' '2021-06-04' '2021-01-19' '2021-04-25'
 '2021-02-24' '2021-08-25' '2021-05-02' '2021-09-11' '2021-02-23'
 '2021-06-08' '2021-05-23' '2021-01-11' '2021-08-17' '2021-03-28'
 '2021-09-06' '2021-06-05' '2021-06-16' '2021-07-23' '2021-02-19'
 '2021-01-15' '2021-04-07' '2021-02-10' '2021-04-19' '2021-09-18'
 '2021-05-30' '2021-07-12' '2021-06-29' '2021-02-15' '2021-07-18'
 '2021-04-24' '2021-07-25' '2021-04-10' '2021-03-23' '2021-01-16'
 '2021-09-19' '2021-01-28' '2021-07-07' '2021-08-15' '2021-04-08'
 '2021-08-18' '2021-01-30' '2021-05-14' '2021-07-08' '2021-08-08'
 '2021-03-03' '2021-02-08' '2021-07-14' '2021-07-16' '2021-06-13'
 '2021-05-11' '2021-07-05' '2021-04-22' '2021-06-27' '2021-03-24'
 '2021-07-27' '2021-05-13' '2021-05-08' '2021-03-08' '2021-02-06'
 '2020-08-19' '2021-08-19' '2021-06-06' '2021-05-21' '2021-09-16'
 '2021-03-26' '2021-02-02' '2021-03-22' '2021-04-02' '2021-06-17'
 '2021-01-31' '2021-04-17' '2021-02-04' '2021-04-23' '2021-06-14'
 '2021-04-06' '2021-04-04' '2021-09-21' '2021-02-22' '2021-07-22'
 '2021-05-15' '2021-03-18' '2021-07-26' '2021-05-10' '2021-03-20'
 '2021-08-07' '2021-05-09' '2021-03-29' '2021-06-18' '2021-03-21'
 '2021-01-27' '2021-03-30' '2021-02-16' '2021-01-24' '2021-02-27'
 '2021-02-13' '2021-01-10' '2021-03-09' '2021-01-13' '2021-08-21'
 '2021-04-01' '2021-07-20' '2021-02-07' '2021-03-10' '2021-01-23'
 '2020-09-15' '2021-01-04' '2021-01-08' '2021-02-28' '2021-02-11'
 '2021-01-14' '2021-07-09' '2021-02-18' '2021-03-06']
variable price : [5390000. 2310000. 5279500. ... 1230500. 2383100. 4160000.]

## related thinking(discuessed in the meeting)

1）

'type' is a nominal variable and can be handled one-hot

'model' is a subdivision of 'type', what does the relationship look like?

There is 'nan' in it that needs to be completed

2）

'bedrooms' has the values of "3+1', '4+1', you need to know the meaning

3）

'bathrooms' is of type float and needs to be changed to type int

4）

'tenure' has a value like '956 years from 27/05/1928', which needs to be processed to become a value like '999 years'. Segmentation can then be performed.

5）

'built_year' is of type float and needs to be changed to type int

6）

'no_of_units' , Describe how big this apartment is, can it be clustered or segmented?

7）

The value '2021-05-04' in 'date_listed' needs to be changed to timestamp format

8)

For missing data, you can try to get the value through the correspondence of other variables. For example, through the name of the community, the type of apartment, and the corresponding year of construction.