In [20]:
import pandas as pd
import numpy as np

In [2]:
test_ori_df = pd.read_csv("dataset/test.csv")
train_ori_df = pd.read_csv('dataset/train.csv')
train_cleaned_df = pd.read_csv('dataset/train_ziji_mar27.csv')

In [9]:
train_cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25718 entries, 0 to 25717
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   listing_id      25718 non-null  int64
 1   name            25718 non-null  object
 2   street          25718 non-null  object
 3   type            25718 non-null  object
 4   bathrooms       24484 non-null  float64
 5   district        25718 non-null  int64
 6   region          25718 non-null  object
 7   planning_area   25718 non-null  object
 8   subszone        25718 non-null  object
 9   built_year      25645 non-null  float64
 10  no_of_units     24680 non-null  float64
 11  area_size       25718 non-null  float64
 12  date_listed     25718 non-null  object
 13  price           25718 non-null  float64
 14  bedrooms        25718 non-null  float64
 15  tenure_remains  25718 non-null  int64
 16  tenure_years    25718 non-null  int64
dtypes: float64(6), int64(4), object(7)
memory usage: 3.3+ MB

In [3]:
test_ori_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   listing_id      7500 non-null   int64
 1   name            7500 non-null   object
 2   street          7500 non-null   object
 3   type            7500 non-null   object
 4   model           7112 non-null   object
 5   market_segment  7500 non-null   object
 6   type_of_area    7500 non-null   object
 7   bedrooms        7382 non-null   object
 8   bathrooms       7163 non-null   float64
 9   district        7500 non-null   int64
 10  region          7500 non-null   object
 11  planning_area   7500 non-null   object
 12  subszone        7500 non-null   object
 13  lat             7500 non-null   float64
 14  lng             7500 non-null   float64
 15  tenure          7415 non-null   object
 16  built_year      4625 non-null   float64
 17  no_of_units     7174 non-null   float64
 18  area_size       7500 non-null   float64
 19  eco_category    7500 non-null   object
 20  accessibility   7500 non-null   object
 21  date_listed     7500 non-null   object
dtypes: float64(6), int64(2), object(14)
memory usage: 1.3+ MB

In [7]:
test_ori_df.describe(include='all')

,listing_id,name,street,type,model,market_segment,type_of_area,bedrooms,bathrooms,district,...,subszone,lat,lng,tenure,built_year,no_of_units,area_size,eco_category,accessibility,date_listed
count,7.500000e+03,7500,7500,7500,7112,7500,7500,7382,7163.000000,7500.000000,...,7500,7500.000000,7500.000000,7415,4625.000000,7174.000000,7500.000000,7500,7500,7500
unique,NaN,1141,1928,2,9,1,1,18,NaN,NaN,...,183,NaN,NaN,24,NaN,NaN,NaN,1,1,299
top,NaN,marina one residences,23 marina way,apartment,apartment,ocr,strata,2,NaN,NaN,...,central subzone,NaN,NaN,leasehold/99 years,NaN,NaN,NaN,uncategorized,guarded,2021-10-12
freq,NaN,192,79,3999,3797,7500,7500,2144,NaN,NaN,...,279,NaN,NaN,4309,NaN,NaN,NaN,7500,7500,487
mean,5.499611e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.278375,12.328800,...,NaN,1.321499,103.845887,NaN,2010.692757,453.859353,1243.848933,NaN,NaN,NaN
std,2.626071e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.133317,6.998287,...,NaN,0.038504,0.049830,NaN,12.553763,419.987510,1042.264937,NaN,NaN,NaN
min,1.000245e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,...,NaN,1.239337,103.695609,NaN,1799.000000,6.000000,337.000000,NaN,NaN,NaN
25%,3.184513e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,7.000000,...,NaN,1.297150,103.819293,NaN,2010.000000,128.000000,688.000000,NaN,NaN,NaN
50%,5.543142e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,11.000000,...,NaN,1.313062,103.842768,NaN,2014.000000,351.000000,958.000000,NaN,NaN,NaN
75%,7.775501e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,18.000000,...,NaN,1.341303,103.880561,NaN,2016.000000,640.000000,1356.000000,NaN,NaN,NaN
max,9.999297e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,28.000000,...,NaN,1.451400,103.980549,NaN,2021.000000,2203.000000,13950.000000,NaN,NaN,NaN

## Summary of pre-processing
Purpose: align the format of cleaned train dataset with test
1. No de-duplication
2. No outlier transformation
3. Do fill missing values
4. Do transform entries value @ronghua

In [8]:
def check_missing_values(df):
    print("Stats for missing values:")
    print("-"*15)
    for col in df:
        print(f"{col}: ", df[col].isna().sum())
check_missing_values(test_ori_df)

Stats for missing values:
---------------
listing_id:  0
name:  0
street:  0
type:  0
model:  388
market_segment:  0
type_of_area:  0
bedrooms:  118
bathrooms:  337
district:  0
region:  0
planning_area:  0
subszone:  0
lat:  0
lng:  0
tenure:  85
built_year:  2875
no_of_units:  326
area_size:  0
eco_category:  0
accessibility:  0
date_listed:  0

## Check for data leaks (if train/test contains shared records)

In [14]:
intersec  = pd.merge(train_cleaned_df, test_ori_df, how='inner', on=['name', 'street'])
intersec.info()
del intersec

<class 'pandas.core.frame.DataFrame'>
Int64Index: 283460 entries, 0 to 283459
Data columns (total 37 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   listing_id_x     283460 non-null  int64
 1   name             283460 non-null  object
 2   street           283460 non-null  object
 3   type_x           283460 non-null  object
 4   bathrooms_x      267213 non-null  float64
 5   district_x       283460 non-null  int64
 6   region_x         283460 non-null  object
 7   planning_area_x  283460 non-null  object
 8   subszone_x       283460 non-null  object
 9   built_year_x     283382 non-null  float64
 10  no_of_units_x    267036 non-null  float64
 11  area_size_x      283460 non-null  float64
 12  date_listed_x    283460 non-null  object
 13  price            283460 non-null  float64
 14  bedrooms_x       283460 non-null  float64
 15  tenure_remains   283460 non-null  int64
 16  tenure_years     283460 non-null  int64
 17  listing_id_y     283460 non-null  int64
 18  type_y           283460 non-null  object
 19  model            268991 non-null  object
 20  market_segment   283460 non-null  object
 21  type_of_area     283460 non-null  object
 22  bedrooms_y       280185 non-null  object
 23  bathrooms_y      268880 non-null  float64
 24  district_y       283460 non-null  int64
 25  region_y         283460 non-null  object
 26  planning_area_y  283460 non-null  object
 27  subszone_y       283460 non-null  object
 28  lat              283460 non-null  float64
 29  lng              283460 non-null  float64
 30  tenure           281602 non-null  object
 31  built_year_y     132415 non-null  float64
 32  no_of_units_y    266332 non-null  float64
 33  area_size_y      283460 non-null  float64
 34  eco_category     283460 non-null  object
 35  accessibility    283460 non-null  object
 36  date_listed_y    283460 non-null  object
dtypes: float64(12), int64(6), object(19)
memory usage: 82.2+ MB

In [15]:
intersec  = pd.merge(train_cleaned_df, test_ori_df, how='inner', on=['listing_id'])
intersec.info()
del intersec

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 38 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   listing_id       0 non-null      int64
 1   name_x           0 non-null      object
 2   street_x         0 non-null      object
 3   type_x           0 non-null      object
 4   bathrooms_x      0 non-null      float64
 5   district_x       0 non-null      int64
 6   region_x         0 non-null      object
 7   planning_area_x  0 non-null      object
 8   subszone_x       0 non-null      object
 9   built_year_x     0 non-null      float64
 10  no_of_units_x    0 non-null      float64
 11  area_size_x      0 non-null      float64
 12  date_listed_x    0 non-null      object
 13  price            0 non-null      float64
 14  bedrooms_x       0 non-null      float64
 15  tenure_remains   0 non-null      int64
 16  tenure_years     0 non-null      int64
 17  name_y           0 non-null      object
 18  street_y         0 non-null      object
 19  type_y           0 non-null      object
 20  model            0 non-null      object
 21  market_segment   0 non-null      object
 22  type_of_area     0 non-null      object
 23  bedrooms_y       0 non-null      object
 24  bathrooms_y      0 non-null      float64
 25  district_y       0 non-null      int64
 26  region_y         0 non-null      object
 27  planning_area_y  0 non-null      object
 28  subszone_y       0 non-null      object
 29  lat              0 non-null      float64
 30  lng              0 non-null      float64
 31  tenure           0 non-null      object
 32  built_year_y     0 non-null      float64
 33  no_of_units_y    0 non-null      float64
 34  area_size_y      0 non-null      float64
 35  eco_category     0 non-null      object
 36  accessibility    0 non-null      object
 37  date_listed_y    0 non-null      object
dtypes: float64(12), int64(5), object(21)
memory usage: 0.0+ bytes

## Drop unused records

In [16]:
col_to_drop = ['lat', 'lng', 'eco_category', 'accessibility', 'type_of_area', 'market_segment']
test_drop = test_ori_df.drop(columns=col_to_drop, axis=1)

## Fill missing built_year
By looking up in the training set

In [18]:
check_missing_values(test_drop)

Stats for missing values:
---------------
listing_id:  0
name:  0
street:  0
type:  0
model:  388
bedrooms:  118
bathrooms:  337
district:  0
region:  0
planning_area:  0
subszone:  0
tenure:  85
built_year:  2875
no_of_units:  326
area_size:  0
date_listed:  0

In [19]:
test_drop.built_year.isna()

0        True
1       False
2       False
3       False
4        True
        ...
7495    False
7496    False
7497     True
7498    False
7499    False
Name: built_year, Length: 7500, dtype: bool

In [34]:
from pandas.api.types import is_numeric_dtype

In [41]:
def fill_value_by_lookup(train_df, test_df, attr=None):
    # missing_df = test_df[test_df.attr.isna()]
    keys = test_df[test_df[attr].isna()].name
    count=0
    for name in keys:
        # find the non-zero mode attr for each unique prop
        lookuptable = train_df[train_df.name==name]
        result = None
        if is_numeric_dtype(lookuptable[attr]):
            result = lookuptable[attr].mode().median()
        else:
            result = lookuptable[attr].mode()
        if np.isnan(result):
            print(f"nan mode {attr} for ", name)
        fill_cond = (test_df.name==name) & (test_df[attr].isna())
        test_df.loc[fill_cond, attr] = result
        count+=1
    print(f"Filled {count} {attr}")
    # return test_df

In [38]:
check_missing_values(test_drop)

Stats for missing values:
---------------
listing_id:  0
name:  0
street:  0
type:  0
model:  388
bedrooms:  118
bathrooms:  337
district:  0
region:  0
planning_area:  0
subszone:  0
tenure:  85
built_year:  2875
no_of_units:  326
area_size:  0
date_listed:  0

Split

In [42]:
fill_value_by_lookup(train_cleaned_df, test_drop, attr='built_year')
check_missing_values(test_drop)

nan mode built_year for  beach road
nan mode built_year for  beach road
nan mode built_year for  jalan lempeng
nan mode built_year for  seletar north link
nan mode built_year for  parkway apartment
nan mode built_year for  arab street
nan mode built_year for  jalan lempeng
nan mode built_year for  gentle drive
nan mode built_year for  sims avenue east
nan mode built_year for  cairnhill road
nan mode built_year for  kings road
nan mode built_year for  jalan lempeng
nan mode built_year for  upper changi road north
nan mode built_year for  beach road
nan mode built_year for  toh crescent
nan mode built_year for  clarke quay
nan mode built_year for  halton road
nan mode built_year for  marne road
nan mode built_year for  upper changi road north
nan mode built_year for  beach road
nan mode built_year for  choa chu kang avenue 2
nan mode built_year for  upper changi road north
nan mode built_year for  cairnhill road
nan mode built_year for  cashew crescent
nan mode built_year for  sims drive
nan mode built_year for  jalan lempeng
nan mode built_year for  gilstead road
nan mode built_year for  marne road
nan mode built_year for  north bridge road
nan mode built_year for  jurong west street 65
nan mode built_year for  bukit timah road
nan mode built_year for  clarke quay
nan mode built_year for  jelebu road
nan mode built_year for  upper boon keng road
nan mode built_year for  everitt road north
nan mode built_year for  dublin road
nan mode built_year for  west coast grove
nan mode built_year for  eng aun mansion
nan mode built_year for  upper serangoon road
nan mode built_year for  bidadari park drive
nan mode built_year for  bukit timah road
nan mode built_year for  clarke quay
nan mode built_year for  whitley road
nan mode built_year for  boon lay way
nan mode built_year for  international road
nan mode built_year for  jervois road
nan mode built_year for  pandan loop
nan mode built_year for  sengkang central
Filled 2875 built_year
Stats for missing values:
---------------
listing_id:  0
name:  0
street:  0
type:  0
model:  388
bedrooms:  118
bathrooms:  337
district:  0
region:  0
planning_area:  0
subszone:  0
tenure:  85
built_year:  48
no_of_units:  326
area_size:  0
date_listed:  0

In [44]:
print(train_cleaned_df.columns)
print(test_drop.columns)

Index(['listing_id', 'name', 'street', 'type', 'bathrooms', 'district',
       'region', 'planning_area', 'subszone', 'built_year', 'no_of_units',
       'area_size', 'date_listed', 'price', 'bedrooms', 'tenure_remains',
       'tenure_years'],
      dtype='object')
Index(['listing_id', 'name', 'street', 'type', 'model', 'bedrooms',
       'bathrooms', 'district', 'region', 'planning_area', 'subszone',
       'tenure', 'built_year', 'no_of_units', 'area_size', 'date_listed'],
      dtype='object')

In [45]:
test_drop.head()

,listing_id,name,street,type,model,bedrooms,bathrooms,district,region,planning_area,subszone,tenure,built_year,no_of_units,area_size,date_listed
0,1487111,leedon green,leedon heights,condominium,condominium,2,2.0,10,central region,bukit timah,farrer court,freehold,1930.0,638.0,710.0,2021-12-12
1,6794066,the line @ tanjong rhu,tanjong rhu road,condominium,condominium,3,2.0,15,central region,kallang,tanjong rhu,freehold,2016.0,130.0,1055.0,2021-10-12
2,4027017,parc elegance,telok kurau road,apartment,apartment,NaN,1.0,15,east region,bedok,frankel,freehold,2013.0,157.0,463.0,2021-12-23
3,1119141,the jovell,13 flora drive,condominium,condominium,2,1.0,17,east region,pasir ris,flora drive,leasehold/99 years,1930.0,428.0,645.0,2021-12-31
4,7374262,shenton way,5 shenton way,condominium,condominium,4,6.0,1,central region,downtown core,cecil,leasehold/99 years,2011.0,NaN,6200.0,2021-07-14

In [46]:
test_drop = test_drop.drop(columns=['model'], axis=1)

## Process bathrooms and tenure
copied from eda_ronghua_2.ipynb

We treate study as 0.5 bedroom

In [51]:
test_drop['bedrooms_1']=0
change=test_drop.loc[:,'bedrooms']
for i in range(len(change)):
    a=change[i]
    if type(a) != float:
        if len(a.strip())>1:
            if '+' in a:
                b=a.split('+')
                if b[1]=='':
                    test_drop['bedrooms_1'][i]=int(b[0])
                else:
                    test_drop['bedrooms_1'][i]=int(b[0])+int(b[1])*0.5
        else:
            test_drop['bedrooms_1'][i]=int(a)
    else:
        test_drop['bedrooms_1'][i]=0

/Users/shiziji/miniconda/envs/CS5228/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/shiziji/miniconda/envs/CS5228/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/Users/shiziji/miniconda/envs/CS5228/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/Users/shiziji/miniconda/envs/CS5228/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [52]:
test_drop['bedrooms_1'].unique()

array([ 2,  3,  0,  4,  1,  5, 10,  6,  7,  9,  8])

process tenure

In [53]:
test_cleaned = test_drop.copy()
# df_rh = df_rh.rename(columns={"time_period":"tenure_remains", "tenure_change":"tenure_years"})

In [65]:
train_cleaned_df.tenure_remains.unique()

array([     99, 1000000,       0,     999,      93,     862,      79,
            60,      95,    9972,     103,      90,      85,      96,
            92,      89,      78,     105,      86,     859,     861,
            68,      83,      94,      91,      87,     860,      73,
            88,      64,      74,      71,      75])

In [67]:
test_cleaned['tenure_remains']=None
import time
change=test_cleaned.loc[:,'tenure']
for idx in range(len(change)):
    i=change[idx]
    if pd.isna(i):
        test_cleaned['tenure_remains'][idx]=99
    elif type(i)==str:
        if (i)=='NaN':
            print(change[idx])
        if i=='freehold':
            test_cleaned['tenure_remains'][idx]=1000000
        elif i=='NaN':
            test_cleaned['tenure_remains'][idx]=0
        elif len(i)<=9:
            c=i.split(' ')
            test_cleaned['tenure_remains'][idx]=int(c[0])
        elif len(i)<=19:
            c=i.split(' ')
            d=c[0].split('/')
            test_cleaned['tenure_remains'][idx]=int(d[1])
        else:
            c=i.split(' ')
            timeArray = time.strptime(c[3], "%d/%m/%Y")
            d=int(c[0])-(2022-int(timeArray.tm_year))
            test_cleaned['tenure_remains'][idx]=d
    else:
        raise ValueError(i)

/Users/shiziji/miniconda/envs/CS5228/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/Users/shiziji/miniconda/envs/CS5228/lib/python3.6/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/shiziji/miniconda/envs/CS5228/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/shiziji/miniconda/envs/CS5228/lib/python3.6/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/shiziji/miniconda/envs/CS5228/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [68]:
test_cleaned['tenure_remains'].unique()

array([1000000, 99, 860, 999, 862, 60, 82, 103, 861, 96, 74, 64, 88, 72,
       95, 77, 105, 87, 86, 81], dtype=object)

In [69]:
test_cleaned['tenure_years']=None
import time, datetime
change=test_cleaned.loc[:,'tenure_remains']
for i in range(len(change)):
    a=change[i]
    if a !=0 and a<120:
        test_cleaned['tenure_years'][i]=99
    else:
        test_cleaned['tenure_years'][i]=999

/Users/shiziji/miniconda/envs/CS5228/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/Users/shiziji/miniconda/envs/CS5228/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [70]:
test_cleaned.tenure_years.unique()

array([999, 99], dtype=object)

In [71]:
test_cleaned.columns

Index(['listing_id', 'name', 'street', 'type', 'bedrooms', 'bathrooms',
       'district', 'region', 'planning_area', 'subszone', 'tenure',
       'built_year', 'no_of_units', 'area_size', 'date_listed', 'bedrooms_1',
       'time_period', 'tenure_remains', 'tenure_years'],
      dtype='object')

In [72]:
train_cleaned_df.columns

Index(['listing_id', 'name', 'street', 'type', 'bathrooms', 'district',
       'region', 'planning_area', 'subszone', 'built_year', 'no_of_units',
       'area_size', 'date_listed', 'price', 'bedrooms', 'tenure_remains',
       'tenure_years'],
      dtype='object')

In [73]:
test_cleaned = test_cleaned.drop(columns=['bedrooms', 'tenure', 'time_period'], axis=1)

In [74]:
test_cleaned = test_cleaned.rename(columns={'bedrooms_1':'bedrooms'})

In [78]:
train_cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25718 entries, 0 to 25717
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   listing_id      25718 non-null  int64
 1   name            25718 non-null  object
 2   street          25718 non-null  object
 3   type            25718 non-null  object
 4   bathrooms       24484 non-null  float64
 5   district        25718 non-null  int64
 6   region          25718 non-null  object
 7   planning_area   25718 non-null  object
 8   subszone        25718 non-null  object
 9   built_year      25645 non-null  float64
 10  no_of_units     24680 non-null  float64
 11  area_size       25718 non-null  float64
 12  date_listed     25718 non-null  object
 13  price           25718 non-null  float64
 14  bedrooms        25718 non-null  float64
 15  tenure_remains  25718 non-null  int64
 16  tenure_years    25718 non-null  int64
dtypes: float64(6), int64(4), object(7)
memory usage: 3.3+ MB

In [77]:
test_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   listing_id      7500 non-null   int64
 1   name            7500 non-null   object
 2   street          7500 non-null   object
 3   type            7500 non-null   object
 4   bathrooms       7163 non-null   float64
 5   district        7500 non-null   int64
 6   region          7500 non-null   object
 7   planning_area   7500 non-null   object
 8   subszone        7500 non-null   object
 9   built_year      7452 non-null   float64
 10  no_of_units     7174 non-null   float64
 11  area_size       7500 non-null   float64
 12  date_listed     7500 non-null   object
 13  bedrooms        7500 non-null   int64
 14  tenure_remains  7500 non-null   object
 15  tenure_years    7500 non-null   object
dtypes: float64(4), int64(3), object(9)
memory usage: 937.6+ KB

In [79]:
test_cleaned.to_csv("dataset/test_ziji_mar27.csv", index=False)