In [1]:
import pandas as pd
import numpy as np
import csv

#Visualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns

## model, bedroom, bathrooms, no_of_units

In [2]:
train_data = pd.read_csv("dataset/train_ziji_feb27.csv")

In [3]:
def check_missing_values(df):
    print("Stats for missing values:")
    print("-"*15)
    for col in df:
        print(f"{col}: ", df[col].isna().sum())
check_missing_values(train_data)

Stats for missing values:
---------------
Unnamed: 0:  0
listing_id:  0
name:  0
street:  0
type:  0
model:  1277
bedrooms:  397
bathrooms:  1234
district:  0
region:  0
planning_area:  0
subszone:  0
lat:  0
lng:  0
tenure:  285
built_year:  2643
no_of_units:  1038
area_size:  0
date_listed:  0
price:  0

In [4]:
missing_df = train_data.copy()

In [5]:
missing_df.model.value_counts()

apartment                                 13103
condominium                               10669
executive condominium                       594
walk-up apt                                  48
townhouse                                    10
with pool                                     5
penthouse                                     4
high rise                                     3
low rise                                      3
duplex                                        2
soho                                          1
strata terrace                                1
shophouse                                     1
residential with commercial on level 1        1
Name: model, dtype: int64

In [6]:
missing_df.bedrooms.value_counts()

3      7229
2      7094
1      4389
4      3733
5       806
3+1     624
2+1     528
4+1     415
1+1     349
6        64
5+1      60
7         9
3+2       8
8         6
4+2       6
2+2       4
9         1
Name: bedrooms, dtype: int64

In [17]:
missing_df.bathrooms.unique()

array([ 4.,  3.,  2.,  1., nan,  5.,  6.,  7.,  8., 10.])

In [16]:
missing_df.no_of_units.value_counts()

1042.0    651
1862.0    453
1129.0    389
696.0     316
660.0     260
         ...
83.0        1
269.0       1
497.0       1
477.0       1
372.0       1
Name: no_of_units, Length: 526, dtype: int64

In [9]:
missing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25722 entries, 0 to 25721
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     25722 non-null  int64
 1   listing_id     25722 non-null  int64
 2   name           25722 non-null  object
 3   street         25722 non-null  object
 4   type           25722 non-null  object
 5   model          24445 non-null  object
 6   bedrooms       25325 non-null  object
 7   bathrooms      24488 non-null  float64
 8   district       25722 non-null  int64
 9   region         25722 non-null  object
 10  planning_area  25722 non-null  object
 11  subszone       25722 non-null  object
 12  lat            25722 non-null  float64
 13  lng            25722 non-null  float64
 14  tenure         25437 non-null  object
 15  built_year     23079 non-null  float64
 16  no_of_units    24684 non-null  float64
 17  area_size      25722 non-null  float64
 18  date_listed    25722 non-null  object
 19  price          25722 non-null  float64
dtypes: float64(7), int64(3), object(10)
memory usage: 3.9+ MB

iterate each row
fill up by find matching